.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    text-align: center;
  }

  input {
      text-align: center;
      border-radius: 5px;
      display: block;
      margin: auto;
      width: auto;
  }

  #queryBox {
    width: 500px;
    height: 50px;
}

#submitButton {
    margin: 20px auto 5px auto;
}

h2 {
    line-height: 1.6;
    width: 80%;
    margin: 30px auto 20px auto;
}

h2 #result {
    border-radius: 5px;
    margin: auto;
    width: 60%;
    height: 50px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    text-align: center;
}

.column {
    flex: 33.33%;
    padding: 10px;
    margin: 5px;
    /* background-color: #cccccc; */
    text-align: center;
}

.container {
      display: flex;
}
  
#col-past  {
      background-color: #D5E8D4;
}

#col-present  {
background-color: #DAE8FC;
}

#col-future  {
background-color: #F8CECC;
}

img {
    max-width: 400px;
}

/* Extra small devices (phones, 600px and down) */
@media (max-width: 600px) {
    .container {
        max-width: 90%;
    }
    #description {
        font-size: 3em;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .container {
        max-width: 90%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .container {
        max-width: 90%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .container {
        max-width: 90%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .container {
        max-width: 90%;
    }
}

@media only screen and (orientation: landscape) {
    body {
      background-color: lightblue;
    }
  }